.contenedor-main {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}
.formulario-1 {
    background-color: aliceblue;
    padding: 1em;
    width: 95%;
}
.formulario-1 h5 {
    padding: 0;
    margin: 0em 0em 1.5em 0em;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
}
.formulario-1 label {
    color: #248f84;
}
.formulario-1 input[type="number"], .formulario-1 select{
    width: 100%;
    padding: .5em;
    margin-bottom: 1em;
}
.formulario-1 input[type="submit"] {
    width: 100%;
    padding: 1em;
    border: none;
    background-color: #27b0a2;
    font-size: 14px;
    cursor: pointer;
    border-radius: 3px;
    margin-top: 1em;
}
.formulario-1 input[type="submit"]:hover {
    background-color: #248f84;
}
.formulario-1 input[type="number"] {
    width: 89.8%;
    padding: .5em;
    margin-bottom: 1em;
}
.formulario-1 .btn-buscar {
    background-color: orange;
    padding: .55em;
    width: 9%;
    margin: 0;
    cursor: pointer;
    border: 1px gray solid;
}
.formulario-1 .btn-buscar:hover {
    background-color: rgb(221, 144, 0);
}

.formulario-2 {
    width: 100%;
    padding: 1em;
    background-color: rgb(233, 235, 234);
}
.formulario-2 h5 {
    padding: 0;
    margin: 0;
    text-align: center;
    margin-bottom: 1em;
    font-size: 16px;
    font-weight: 500;
}
.formulario-2 input[type="text"] {
    width: 100%;
    padding: .5em;
    margin-bottom: 1em;
}
.formulario-2 .item {
    background-color: rgb(216, 216, 216);
    padding: .5em;
    margin-bottom: .5em;
    cursor: pointer;
    border-radius: 3px;
    display: flex;
}
.formulario-2 .item:hover {
    background-color: #27b0a2;
    transition: .3s ease all;
}
.formulario-2 .item .item-cod {
    margin-right: .5em;
    color: #248f84;
    font-weight: 500;
}
.formulario-2 .item:hover .item-cod{
    color: white;
}

@media only screen and (min-width: 768px) {
    .formulario-1 {
        background-color: aliceblue;
        padding: 1em;
        width: 500px;
    }
    .formulario-1 input[type="number"] {
        width: 90%;
        padding: .5em;
        margin-bottom: 1em;
    }
    .formulario-1 .btn-buscar {
        background-color: orange;
        padding: .55em;
        width: 9%;
        margin: 0;
        cursor: pointer;
        border: 1px gray solid;
    }

    .formulario-2 {
        width: 100%;
        padding: 1em;
        background-color: rgb(233, 235, 234);
    }
    .popup-2{
        width: 650px;
    }
}