*{
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
}
.pnl_principal {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.pnl_principal h4 {
    padding: 0;
    margin: 0px 0px 10px 0px;
    text-align: center;
    font-weight: normal;
    color: #159284;
    font-weight: 600;
}
.pnl_principal h5 {
    padding: 0;
    margin: 0px 0px 5px 0px;
    color: #159284;
    display: inline-block;
    font-size: 16px;
    font-weight: 300;
}


.pnl_datos {
    width: 100%;
    height: 100%;
    margin: 1em;
    padding: 1em;
    background-color: #f8f8f8;
}
.pnl_datos input[type="text"] {
    width: 90%;
    margin-bottom: 5px;
    padding: .5em;
    border: 1px solid gray;
    border-radius: 3px 0px 0px 3px;
}
.pnl_datos input[type="button"] {
    width: 100%;
    background-color: #27b0a2;
    padding: .5em;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 3px;
}
.pnl_datos input[type="button"]:hover {
    background-color: #159284;
}
.pnl_datos .linea {
    display: flex;
    justify-content: space-between;
}
.pnl_datos .linea-r {
    display: flex;
    justify-content: right  ;
}



.pnl_tarjeta {
    width: 100%;
    height: 60%;
    margin: 0em 1em;
    padding: 1em;
    background-color: #f8f8f8;
}
.pnl_principal .fila-titulo {
    display: flex;
    justify-content: space-between  ;
}
.pnl_principal .fila-titulo label {
    margin-right: .5em;
}
.pnl_principal .fila-titulo div {
    display: flex;
    align-items: center;
}
.pnl_tarjeta .fila {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: white;
    padding: 1em;
    border-radius: 2px;
    margin-bottom: .5em;
}
.pnl_tarjeta .fila div {
    display: flex;
    justify-content: space-between;
}
.pnl_tarjeta .columna {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 1em;
}
.pnl_tarjeta .columna div {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.pnl_principal .columna div div {
    display: flex;
    flex-direction: row;
    margin-right: .5em;
    margin-bottom: .5em;
}
.pnl_principal .columna div div label {
    margin-right: .3em;
}

.pnl_tarjeta input[type="checkbox"] {
    margin: 0;
    padding: 0;
}


.pnl_menu {
    width: 100%;
    height: 60%;
    margin: 1em;
    padding: 1em;
    background-color: #f8f8f8;
}
.pnl_menu button {
    width: 100%;
    padding: .5em;
    margin-bottom: .5em;
    cursor: pointer;
}


.pnl_lista {
    width: 100%;
    height: 40%;
    margin: 0em 1em;
    padding: 1em;
    background-color: #f8f8f8;  
}


.btn-edit {
    width: 60%;
    padding: .5em;
    margin-bottom: .5em;
    cursor: pointer;
}
.btn-popup {
    background-color: rgb(255, 163, 59);
    border: 1px solid gray;
    border-left: 0px;
    width: 10%;
    cursor: pointer;
    padding: .5em 0em;
    border-radius: 0px 3px 3px 0px;
}
.btn-popup:hover {
    background-color: rgb(253, 151, 33);
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
  }
@media only screen and (min-width: 768px) {
    /* For desktop: */

    .pnl_principal {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        height: 92.7vh;
        width: 1500px;
    }
    .pnl_datos {
        width: 22.3%;
        height: 90%;
        margin: 10px;
        padding: 1em;
        background-color: #f8f8f8;
    }
    .pnl_tarjeta {
        width: 60%;
        height: 90%;
        margin: 10px 0px;
        padding: 1em;
        background-color: #f8f8f8;
    }
    .pnl_tarjeta .fila {
        display: flex;
        justify-content: space-around;
        background-color: white;
        padding: 1em;
        border-radius: 2px;
        margin-bottom: .5em;
    }
    .pnl_tarjeta .fila div {
        display: flex;
        justify-content: space-around;
    }
    .pnl_tarjeta .columna {
        display: flex;
        justify-content: space-between;
        background-color: white;
        padding: 1em;
    }
    .pnl_tarjeta .columna div {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }

    .pnl_menu {
        width: 14.2%;
        height: 90%;
        margin: 10px;
        padding: 1em;
        background-color: #f8f8f8;
    }
    .pnl_lista {
        width: 100%;
        height: 20%;
        padding: 1em;
        background-color: #f8f8f8;
    }
    .popup-2{
        width: 650px;
    }
    .boton-3-md{
        width: 150px;
        margin-top: 5px;
    }
    .boton-4{
        width: 24.5%;
    }
}
@media only screen and (min-width: 992px) {
    /* For desktop: */

    .pnl_principal {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        height: 92.7vh;
        width: 1500px;
    }
    .pnl_datos {
        width: 22.3%;
        height: 60%;
        margin: 10px;
        padding: 1em;
        background-color: #f8f8f8;
    }
    .pnl_tarjeta {
        width: 55%;
        height: 60%;
        margin: 10px 0px;
        padding: 1em;
        background-color: #f8f8f8;
    }
    .pnl_tarjeta .fila {
        display: flex;
        justify-content: space-around;
        background-color: white;
        padding: 1em;
        border-radius: 2px;
        margin-bottom: .5em;
    }
    .pnl_tarjeta .fila div {
        display: flex;
        justify-content: space-around;
    }
    .pnl_tarjeta .columna {
        display: flex;
        justify-content: space-between;
        background-color: white;
        padding: 1em;
    }
    .pnl_tarjeta .columna div {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }

    .pnl_menu {
        width: 19.2%;
        height: 60%;
        margin: 10px;
        padding: 1em;
        background-color: #f8f8f8;
    }
    .pnl_lista {
        width: 100%;
        height: 40%;
        padding: 1em;
        background-color: #f8f8f8;
    }
    .popup-2{
        width: 650px;
    }
    .boton-3-md{
        width: 150px;
        margin-top: 5px;
    }
    .boton-4{
        width: 24.5%;
    }
}

.overlay-procesando{
    position: fixed;
    background: rgba(141, 140, 140, 0.349);
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    visibility: hidden;
}